body {
    font-family: "League Spartan", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 125%;
}

h1, h2, h3 {
    font-weight: bold;
}


/*--------------------------------------------Carousel slider*/
.carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

#carousel-container-one,
#carousel-container-two,
#carousel-container-three {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}

#carousel-parent-container {
    margin-top: 5rem;
}

/*--------------------------------------------Introduction section*/



/*--------------------------------------------Key principles section*/
.kp-section {
    color: #fff;
}

/*--------------------------------------------How to speak up section*/
#how-to-speak-up-section {
    color: #fff;
}

/*--------------------------------------------Contact form*/
#contact-form-parent-container {
    margin-top: 10rem;
}
  